
.invoiceCard {
  display: grid;
  grid-template-areas: "id clientName"
                       "paymentDue statusWrapper"
                       "total statusWrapper";
  background: #FFFFFF;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  border-radius: 8px;
  padding: 24px;

  .id {
    grid-area: id;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0C0E16;
    margin-bottom: 24px;

    .hashtag {
      color: #7E88C3;
    }
  }

  .clientName {
    grid-area: clientName;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #858BB2;
    text-align: right;
  }

  .paymentDue {
    grid-area: paymentDue;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #888EB0;
    margin-bottom: 8px;
  }

  .total {
    grid-area: total;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: #0C0E16;
  }

  .statusWrapper {
    grid-area: statusWrapper;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
