
.button {
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
  background: #7C5DFA;
  border-radius: 24px;
  border: none;
  padding: 17px 24px 16px;

  &.icon {
    padding: 6px 14px 6px 6px;
  }

  &.secondary {
    background: #F9FAFE;
    color: #7E88C3;
  }

  &.danger {
    background: #EC5757;
  }
  
  .iconWrapper {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .icon {
    width: 10px;
  }
}
